.page-background {
	background: url(img/new-york.jpg) no-repeat center center; /*changed url(img/new-york.jpg*/
	background-size: cover;
	height: 100vh;
}

#homePage {
	color: white !important;
}
.bg-custom {
	background-color: #121213;
}

#hey {
	text-align: center !important;
}

.content {
	position: relative;
	top: 35%;
	background: rgba(0, 0, 0, 0.2);
    padding: 5rem; 
    text-align: center;
}

.how-it-works {
	text-align: center;
}

.title {
	margin-top: 2%;
}

/*.btn-primary {
	background-color: white !important;
	border-color: white !important;
	color: black !important;
}*/