<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<div>
		{% for item in items %}
			<h2>Title: {{ item[0] }}</h2>
			<p>Summary: {{ item[1] }} <p>
			<p>Company: {{ item[2] }} <p>
			<p>Location: {{ item[3] }}</p>
			<p>Salary: {{ item[4] }}</p>
			<a href = "{{ item[5] }}">Link </a>
		{% endfor %}
	</div>
</body>
</html>